@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1> This is first and last tutorial presented to the class - related to Blogs, Threds and Posts</h1>
<p>
    <a href="/portal/blog">Blogs Management</a>
</p>
<p>
    <a href="/portal/thread">Threads Management</a>
</p>
<p>
    <a href="/post/index">Posts Management</a>
</p>
<p>
    <a href="/portal/tag">Tags Management</a>
</p>
 