
@{
    ViewData["Title"] = "Index";
}
@using  BlogBasic.Core.Models
@model Post
<h1>Post Delete</h1>

<h3>@Model.Id </h3>
<h3>@Model.PostName </h3>
<h3>@Model.PostDescription </h3>
<h3>@Model.Content</h3>
<br />

Are you sure to delete this post?

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>

